# network specific node uri : `"ETH_NODE_URI_" + networkName.toUpperCase()`
ETH_NODE_URI_MAINNET=https://mainnet.infura.io/v3/<apiKey>
ETH_NODE_URI_RINKEBY=https://rinkeby.infura.io/v3/<apiKey>
ETH_NODE_URI_BUNNYWORLD=https://rpc.rabit-chain.network/

# bsc rpc: https://docs.binance.org/smart-chain/developer/rpc.html
ETH_NODE_URI_BSCTESTNET=
ETH_NODE_URI_BSC=

# generic node uri (if no specific found) :
ETH_NODE_URI=https://{{networkName}}.infura.io/v3/<apiKey>

# network specific mnemonic : `"MNEMONIC_ " + networkName.toUpperCase()`
MNEMONIC_MAINNET=<mnemonic for mainnet>
# generic mnemonic (if no specific found):
MNEMONIC=<mnemonic>

# private keys
PRIV_KEYS_MAINNET=<private key>
PRIV_KEYS_RINKEBY=<private key>
PRIV_KEYS_BUNNYWORLD=<private key>
PRIV_KEYS_BSCTESTNET=<private key>
PRIV_KEYS_BSC=<private key>

# coinmarketcap api key for gas report
COINMARKETCAP_API_KEY=

# verify contract
ETHERSCAN_API_KEYS=
ETHERSCAN_API_KEYS_BSC=
